IMAGE_ALLOWED_HOSTS=img.ophim1.com,img.ophim.live
IMAGE_ALLOWED_HOST_SUFFIXES=.ophim.live,.ophim1.com
IMAGE_CACHE_VERSION=cf-img-jun-2026-v2
IMAGE_MAX_ORIGIN_BYTES=5000000
IMAGE_HARD_ORIGIN_BYTES=8000000
IMAGE_TARGET_OUTPUT_BYTES=1200000

IMAGE_CACHE_BASE_URL=https://img.bluesia.net
PUBLIC_IMAGE_CACHE_URL=https://img.bluesia.net
IMAGE_CACHE_SIGNING_SECRET=your_secret_key_here
